@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  font-size: 1.5rem;
}

html,
body {
  scroll-behavior: smooth;
}

/* Background Home */
.bg-home {
  background-image: url("../profile/bg-home.jpg");
  background-position: center;
  background-size: cover;
}
